<!DOCTYPE html>
<html>

<head>
    <!-- Required Meta Tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Latest Compiled and Minified CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">
    <!-- jQuery Library -->
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.slim.min.js"></script>
    <!-- Latest Compiled JavaScript -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Eksternal CSS -->
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='styles/style.css')}}">
    <!-- Internal CSS -->
    <style>
        @media (min-width:961px) {
            img {
                height: 60%;
            }
        }
    </style>
    <!-- Internal JavaScript -->
    <script>
        function editRiwayat() {
            var datetemp = document.getElementById("time").innerHTML;
            document.getElementById("riwayatedittemp").value = document.getElementById("act").innerHTML;
            document.getElementById("date").value = datetemp.substring(6, 10) + "-" + datetemp.substring(3, 5) + "-" + datetemp.substring(0, 2) + "T" + datetemp.substring(11, 19);
        }
        function deleteRiwayat() {
            document.getElementById("riwayatdeletetemp").value = document.getElementById("act").innerHTML;
            document.getElementById("riwayatdeletetemp2").innerHTML = document.getElementById("act").innerHTML;
        }
    </script>
    <title>Detail Aktivitas</title>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <div class="container">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03"
                aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <a class="navbar-brand" href="#">Hi User!</a>
            <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
                <ul class="navbar-nav mr-auto">
                    {%for item in navbar%}
                    {%if item.url%}
                    <li class="nav-item">
                        <a class="nav-link" href="{{item.url}}">{{item.text}}</a>
                    </li>
                    {%endif%}
                    {%endfor%}
                </ul>
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="{{url_for('index')}}">Keluar</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <main class="container">
        <div class="row mx-auto">
            <div class="col-md-12">
                <h3 class="my-2">Detail Aktivitas <span id="act">{{act}}</span></h3>
                <div class="row">
                    <div class="col-md-6">
                        <p>Aktivitas : <span id="category">{{data['kategori']}}</span></p>
                    </div>
                    <div class="col-md-6 d-flex justify-content-end">
                        <p>Waktu : <span id="time">{{data['waktu']}}</span></p>
                    </div>
                </div>
                {%if error%}
                <p id="error" class="error bg-danger text-white p-2" style="margin: 0;"><strong>Error:</strong>
                    {{error}}</p>
                {%endif%}
                {%if success%}
                <p id="error" class="error bg-success text-white p-2" style="margin: 0;">{{success}}</p>
                {%endif%}
                <img src="{{data['gambar']}}" width="100%">
                <div class="row mt-2">
                    <div class="col-md-12">
                        <button type="button" class="btn btn-danger" data-toggle="modal"
                            data-target="#modalDeleteRiwayat" onclick="deleteRiwayat()">Hapus
                            Riwayat</button>
                        <button type="button" class="btn btn-primary" data-toggle="modal"
                            data-target="#modalEditRiwayat" onclick="editRiwayat()">Edit</button>
                        <!-- Modal Edit Riwayat -->
                        <form action="" method="post">
                            <div class="modal fade" id="modalEditRiwayat" tabindex="-1" role="dialog"
                                aria-labelledby="modalEditRiwayatTitle" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLongTitle">Edit Riwayat
                                                Aktivitas</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <div class="row form-group">
                                                <div class="col-md-3"><label class="form-label"
                                                        for="waktu">Waktu</label>
                                                </div>
                                                <div class="col-md-9">
                                                    <input type="hidden" id="riwayatedittemp" name="riwayatedittemp" />
                                                    <input type="datetime-local" step="1" class="form-control" id="date"
                                                        name="date">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary"
                                                data-dismiss="modal">Batal</button>
                                            <input type="submit" class="btn btn-primary" name="_method"
                                                value="Simpan" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                        <!-- Modal Delete Riwayat -->
                        <form action="" method="post">
                            <div class="modal fade" id="modalDeleteRiwayat" tabindex="-1" role="dialog"
                                aria-labelledby="modalDeleteRiwayatTitle" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLongTitle">Hapus Riwayat
                                                Aktivitas?</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <input type="hidden" id="riwayatdeletetemp" name="riwayatdeletetemp" />
                                            <p>Apakah Anda yakin ingin menghapus <span id="riwayatdeletetemp2"
                                                    class="font-weight-bold text-danger"></span>?<br>
                                                Harap dipahami bahwa riwayat aktivitas yang sudah dihapus tidak
                                                dapat
                                                dikembalikan.</p>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary"
                                                data-dismiss="modal">Batal</button>
                                            <input type="submit" class="btn btn-danger" name="_method" value="Hapus" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </main>
</body>

</html>